/* Color scheme customization */
:root {
    /* Main background color */
    --md-default-bg-color: rgb(33, 42, 49);
    /* Header, footer, sidebars, etc. */
    --md-default-fg-color: rgb(33, 42, 49);
    --md-primary-fg-color: rgb(33, 42, 49);
    --md-primary-fg-color--light: #D3D9D4;
    --md-primary-fg-color--dark: #D3D9D4;
    --md-accent-fg-color: #2E3944;
    --md-typeset-a-color: #124E66;
  
    /* Darker shade for header text, etc. */
    --md-default-fg-color--light: #D3D9D4;
    /* Main text color */
    --md-default-fg-color--dark: #D3D9D4;
    /* Lightest shade for secondary content */
    --md-default-fg-color--lighter: #D3D9D4;
  
    /* Code blocks */
    --md-code-bg-color: #202324;
    --md-code-fg-color: #D3D9D4;
  }
  
  .md-typeset {
    color: #D3D9D4;
  }
  
  .md-typeset .footnote-ref, .md-typeset [data-md-color-primary=white] a {
    color: #748D92;
  }
  
  /* Button hover - override default white */
  .md-button:hover {
    background-color: var(--md-accent-fg-color); /* Accent color on hover */
    color: #D3D9D4;
  }
  
  [data-md-color-scheme="default"] {
    /* Light mode overrides */
    --md-primary-fg-color: #2E3944;
    --md-accent-fg-color: #2E3944;
  }
  
  [data-md-color-scheme="slate"] {
    /* Dark mode overrides */
    --md-primary-fg-color: #212A31;
    --md-accent-fg-color: #2E3944;
  }