/* Import color overrides with cache-busting */
@import url("../overrides/colors.css?version=2");

/* Grid card button alignment */
.md-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.md-card {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure cards take full height of their row */
  box-sizing: border-box;
}

.md-card__content {
  flex-grow: 1; /* Allow content to take up available space */
}

/* Responsiveness for index.md page */
@media screen and (max-width: 980px) {
  .md-grid {
    justify-content: center; /* Center cards on smaller screens */
  }
  .md-card {
    width: 45%; /* Adjust card width on smaller screens */
    margin: 0.5em;
  }
}

@media screen and (max-width: 768px) {
  .md-card {
    width: 90%; /* Adjust card width on smaller screens */
    margin: 0.5em auto;
  }
}

@media screen and (min-width: 981px) {
  .md-grid {
    justify-content: space-between;
  }
  .md-card {
    width: 30%; /* Adjust card width on smaller screens */
    margin: 0.5em;
  }
}